#top_bar,
#left_menu,
.smart_schedule_link,
.agenda_add_task,
.loading_screen--logo,
.sharing,
.task_actions,
.promotion_banner,
.view_header__content h1 small,
.view_header__actions,
.section_head__actions,
.task_list_item__project,
.empty-state-header,
.empty-state-button,
.empty-state-footer {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0 !important;
}

html,
body,
#page_background,
#content_wrapper,
#content,
.loading_screen,
.task_list_item,
.view_header,
.section header {
  background-color: transparent !important;
}

#content {
  border: none !important;
  margin-right: 305px;
}

#editor {
  justify-content: center;
}

.view_header {
  padding-top: 0;
}
